<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title | escape }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
   </head>

  <body>
  
    <section class="page-header">

      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    
  <header class="site-header">
  <nav class="nav-links">
    <a href="{{ '/LinkedIn' | https://www.linkedin.com/in/emmahicks01}}">LinkedIn</a>
    <a href="{{ '/myGwork' | https://www.mygwork.com/en/members/professionals/emma-hicks/detail}}">myGwork</a>
    <a href="{{ '/DataCamp' | https://www.datacamp.com/portfolio/emma-hicks}}">DataCamp</a>
    <a href="{{ '/W3Schools' | https://www.w3profile.com/emmahicks}}">W3Schools</a>
    <a href="{{ '/Coursera' | https://www.coursera.org/user/301fd5ed1fa3d0377c3670b174d2d8a2}}">Coursera</a>
    <a href="{{ '/Credly' | https://www.credly.com/users/emma-louise-hicks}}">Credly/a>
    <a href="{{ '/GitHub' | https://github.com/emma-on-github}}">GitHub</a>
    <a href="{{ '/Tableau Public' | https://public.tableau.com/app/profile/emmahicks/vizzes}}">Tableau Public</a>
    <a href="{{ '/Kaggle' | https://www.kaggle.com/emmahicks}}">Kaggle</a>
    <a href="{{ '/PartyRock' | https://partyrock.aws/u/emmahicks}}">PartyRock</a>
    <a href="{{ '/JustGiving' | https://www.justgiving.com/fundraising/bidwells-oxford-10k-2026-835274?utm_medium=FR&utm_source=CL}}">JustGiving</a>
  </nav>
</header>    
    </section>

    <section class="main-content">
      {{ content }}
    </section>

  </body>
</html>
